.main {
  width: 75vw;

  > h1 {
    font-family: sans-serif;
    color: yellowgreen;
  }

  > .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    margin-bottom: 1rem;

    > img {
      grid-column: 1 / 3;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    > p {
      padding: 0 0.5rem;
    }
  }
}
